.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
ul {
    display: flex; 
}
header nav ul li {
    margin-right: 15px;
    font-size: 22px;
    
}
header nav ul li a {
    color: #1C4961;
}
.logo a{
    display: flex;
    align-items: center;
    
}
.logo img {
    width: 27px;
    height: 27px;
}
.logo span {
    font-size: 20px;
    color: #4468E2;
    margin-left: 5px;
}
header button {
    border: none;
    background-color: #4468E2;
    color: #fff;
    border-radius: 17px;
    font-size: 19px;
    padding: 10px;
}

/* slider section starts */
.slider {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider img {
    width: 100%;
}
.main-title {
    position: absolute;
    max-width: 522px;
    width: 100%;
}
.main-title h1 {
    color: #fff;
    font-size: 50px;
    text-align: center;
    
}
.main-title p {
    font-size: 22px;
    color: white;
    text-align: center;
}
.choose-travel-date {
    background-color: #fff;
    position: absolute;
    width: 50%;
    bottom: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.choose-travel-date div h5 {
    font-size: 20px;
    /* padding: 10px; */
}
.choose-travel-date div input {
    border: none;
    font-size: 16px;
}
.choose-travel-date div input:focus {
    
}
.choose-travel-date div {
    margin: 5px;
}
.choose-travel-date div p {
    font-size: 16px;
    color: #7E7E7E;
}
.location {
    /* padding: 10px; */
    border-right: 0.5px solid #B4C6EE;
    width: 30%;
    /* background-color: aqua; */
    /* height: 100%; */
}
.location img {
    width: 13px;
    height: 13px;
    cursor: pointer;
}
.check-in {
    border-right: 0.5px solid #B4C6EE;
    width: 15%;
}
.choose-travel-date button {
    background-color: #4468E2;
    color: #fff;
    border-radius: 10px;
    border: none;
    margin: 5px;
}
/* offer section */
.offer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 170px;
}
.offer-box {
    width: calc(100%/4);
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: 20px 20px 50px grey;
}

.offer div  img {
    width: 53px;
    height: 67px;   
} 
.offer div div {
    width: 103px;
    height: 97px;
    background-color: #EBF0FE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 12px;
}
.offer  div h4 {
    font-size: 24px;
    margin-bottom: 10px;
}
.offer  div p {
    font-size: 20px;
    margin-bottom: 10px;
}
/* reccomendation section starts  */

.reccomndation {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.destination-line {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 50px;
}
.destination-line div {
    
   
    margin-left: 5px;
    margin-top: 5px;
    max-width: 552px;
    width: 100%;
    /* width: 100px;
    height: 100px; */
}
.destination-line div img {
    width: 100%;
}
.reccomndation h1 {
    font-size: 40px;
    margin-bottom: 80px;
}
/* .reccomndation nav ul {
    display: flex;
    justify-content: center;
} */
.reccomndation nav ul li {
    margin-left: 30px;
    font-size: 26px;
}
.destination-line div h6 {
    font-size: 38px;
}
.destination-line div p {
    font-size: 26px;
    padding: 5px;
}
.price-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.travel-icons div {
    width: 33px;
    height: 33px;
    background-color: #1C4961;
    border-radius: 50%;
}
.price-all span {
    font-size: 31px;
}
/* .price-all div div {
    margin-left: 5px;
} */
.travel-icons {
    display: flex;
    
}
.price-travel {
    display: flex;
    justify-content: center;
}
.night-info {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.night-info p {
    font-size: 22px;
}
/* blog section starts */

.blog {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.blog h1 {
    font-size: 40px;
    margin-bottom: 70px;
}
.pic-first-box, .pic-second-box{
    width: 50%;

}
.pic-first-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic-first-box p {
    position: absolute;
    font-size: 50px;
    color: #fff;
    width: 45%;
}
.pictures {
    display: flex;
}
.pictures div img {
    width: 100%;
    height: 100%;
}
.pic-second-box div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic-second-box div p {
    position: absolute;
    color: #fff;
    font-size: 35px;

}
.feedback {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feedback h1 {
    font-size: 40px;

}
.customer-review {
    display: flex;
    margin-top: 60px;
}
.first-review {
    width: 50%;
    
}
.first-review div {
    display: flex;
}
.first-review-text img {
    width: 53px;
    height: 42px;
}
.costumer div {
   display: flex;
   flex-direction: column;
   margin-left: 20px;
}
.costumer {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-left: 10%;
    margin-top: 30px;
}
.first-review-text p {
    width: 80%;
    margin-left: 5%;
}
/* footer starts */
footer {
    width: 100%;
    background-color: #E1E8F8;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 20px;
}
footer nav ul li{
   margin-left: 15px;
}
   