.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
header nav ul {
    display: flex; 
}
header nav ul li {
    margin-right: 30px;
    font-size: 1.5vw;
    
}
header nav ul li a {
    color: #1C4961;
}
.logo a{
    display: flex;
    align-items: center;
    
}
.logo img {
    width: 27px;
    height: 27px;
}
.logo span {
    font-size: 20px;
    color: #4468E2;
    margin-left: 5px;
}
header button {
    border: none;
    background-color: #4468E2;
    color: #fff;
    border-radius: 17px;
    font-size: 1.5vw;
    padding: 10px;
}

/* slider section starts */
.slider {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider img {
    width: 100%;
}
.main-title {
    position: absolute;
    width: 45%; 
}
.main-title h1 {
    color: #fff;
    text-align: center;
    font-family: 'Montserrat';
}
.main-title p {
    font-size: 1.5vw;
    color: white;
    text-align: center;
}
.choose-travel-date {
    background-color: #fff;
    position: absolute;
    width: 60%;
    bottom: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
/* .choose-travel-date div h5 {
    font-size: 20px;
   
} */
.location input {
    border: none;
    font-size: 1vw;
}

.choose-travel-date div {
    margin: 5px;
}
.check-in p, .Check-out p {
    font-size: 1vw;
    color: #7E7E7E;
}
.location {
    padding-left: 10px;
    border-right: 0.5px solid #B4C6EE;
    width: 30%;
    /* background-color: aqua; */
    /* height: 100%; */
}
.location h5, .check-in h5, .Check-out h5 {
    margin-bottom: 10px;
    font-size: 1.4vw;
}
.location img {
    width: 13px;
    height: 13px;
    cursor: pointer;
}
.check-in {
    border-right: 0.5px solid #B4C6EE;
    width: 15%;
    /* padding: 10px ; */
}

.choose-travel-date button {
    background-color: #4468E2;
    color: #fff;
    border-radius: 10px;
    border: none;
    margin: 5px;
    padding: 20px;
    font-size: 1vw;
}
/* offer section */
.offer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 170px;
    flex-wrap: wrap;
}
.offer-box {
    width: 369px;
    height: 293px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    
}

/* .best-price-pic {
    width: 53px;
    height: 67px;  
    
}  */
.offer div div {
    width: 103px;
    height: 97px;
    background-color: #EBF0FE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 12px;
    margin-left: 15px;
    margin-top: 15px;
}
.offer div h4 {
    font-size: 2vw;
    margin-bottom: 10px;
    padding-left: 15px;    
    font-weight: bold; 
}
.offer div p {
    font-size: 1.5vw;
    margin-bottom: 10px;
    padding-left: 15px;
}
/* reccomendation section starts  */

.reccomndation {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.destination-line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
}
.destination-line div {
    
   
    /* margin-left: 10px; */
    margin-top: 5px;
    width: 490px;
    
    /* width: 100px;
    height: 100px; */
}
.destination-line div img {
    width: 100%;
}
.reccomndation h1, .blog h1, .feedback h1, .main-title h1 {
    font-size: 3vw;
    /* margin-bottom: 80px; */
    font-weight: bold;
}
.reccomndation h1 {
    margin-bottom: 79px;
}
/* .reccomndation nav ul {
    display: flex;
    justify-content: center;
} */
.reccomndation nav ul {
    display: flex;
    /* justify-content: center;
    align-items: center; */
}
.reccomndation nav ul li {
    margin-left: 30px;
    font-size: 1.5vw;
    transition: all 0.3s;
    cursor: pointer;
}
.reccomndation nav {
    height: 48px;
}
.reccomndation nav ul li:hover {
   border-bottom: 5px solid #163235;
}
.destination-line div h6 {
    font-size: 2vw;
    padding: 20px;
    font-weight: bold;
}
.destination-line div p {
    font-size: 1.5vw;
    padding: 20px;
}
.destination-box {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.price-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.travel-icons div {
    width: 33px;
    height: 33px;
    background-color: #1C4961;
    border-radius: 50%;
}
.price-all span {
    font-size: 1.8vw;
}
/* .price-all div div {
    margin-left: 5px;
} */
.travel-icons {
    display: flex;
    
}
.price-travel {
    display: flex;
    justify-content: center;
}
.night-info {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.night-info p {
    font-size: 1.5vw;
}
/* blog section starts */

.blog {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.blog h1 {
    margin-bottom: 70px;
    font-weight: bold;
}
.pic-first-box, .pic-second-box{
    width: 50%;

}
.pic-first-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic-first-box p {
    position: absolute;
    font-size: 4vw;
    font-weight: bold;
    color: #fff;
    width: 45%;
}
.pictures {
    display: flex;
}
.pictures div img {
    width: 100%;
    height: 100%;
}
.pic-second-box div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic-second-box div p {
    position: absolute;
    color: #fff;
    font-size: 3vw;
    font-weight: bold;
    width: 85%;
}
.feedback {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.feedback h1 {
    font-weight: bold;
}
.customer-review {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.first-review {
   
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 417px;
    width: 700px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* margin-left: 78px; */
}
.second-review {
    margin-left: 30px;
}
.first-review div {
    display: flex;
}
.first-review-text {
    display: flex;
    justify-content: center;
}
.first-review-text img {
    width: 53px;
    height: 42px;
}
.costumer div {
   display: flex;
   flex-direction: column;
   margin-left: 20px;
}
.costumer div h6 {
    font-size: 2vw;
}
.costumer div p {
    font-size: 1.8vw;
    color: #848484;
}
.costumer {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-left: 10%;
    margin-top: 30px;
}
.first-review-text p {
    width: 80%;
    margin-left: 5%;
    font-size: 26px;
}
/* footer starts */
footer {
    width: 100%;
    background-color: #E1E8F8;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding: 20px;
}
footer nav ul {
    display: flex;
    justify-content: center;
}
footer nav ul li{
   margin-left: 20px;
}
.social-icons {
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.social-icons a img{
    width: 44px;
    height: 44px;
    
}
footer nav ul li{
    font-size: 1.3vw;
}
footer div p {
    font-size: 1.3vw;
}

/* რესფონსივი */
@media (max-width: 1024px){
   
    .location img {
        width: 10px;
        height: 10px;
    }
    .offer-box {
        margin-top: 20px;
    }
    .reccomndation nav ul li {
        font-size: 1vw;
    }
   
    .second-review {
        margin-left: 0;
        margin-top: 20px;
    }
}